body {
    background-image: url("malong.jpeg");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  h1 {
    -webkit-text-stroke: 2px black;
    color: white;
    font-family: Comic Sans MS;
    text-align: center;
  }
  p {
    color: red;
  }